*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-transform: uppercase;
    text-align: center;
}
.home{
    text-align: left;
    color: #fff;
    background-color: #000;
    text-transform: uppercase;
    font-size: 20px;
}
.item{
    padding: 3rem;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: bold;
    background-size: cover;
    background-position: center;
}
a{
    color: white;
    text-decoration: none;
}
.one{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./images/program.webp);
}
.two{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./images/meeting.jpeg);
}
.three{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./images/coffee7.jpeg);
}
.four{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./images/relaxation.jpeg);
}
.five{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./images/dinning.jpeg);
}
.six{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./images/programming.webp);
}
.seven{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./images/cyber3.jpg);
}
.eight{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./images/data\ center.webp);
}
.nine{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./images/view.jpeg);
}
.container-about{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;
}